<div *ngIf="isVisible" class="modal-backdrop" (click)="onBackdropClick()">

  <div class="modal-dialog" (click)="onModalClick($event)">

    <div class="modal-header">
      <h5 class="modal-title">{{ title }}</h5>
      <button type="button" class="btn-close" (click)="onClose()">×</button>
    </div>

    <div class="modal-body">
      <ng-content></ng-content>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="onClose()">
        Cancelar
      </button>
      <button
        type="button"
        [ngClass]="getConfirmButtonClass()"
        (click)="onConfirm()">
        Confirmar
      </button>
    </div>

  </div>
</div>
