<div class="board-column">

  <div class="column-header">
    <div class="header-title-wrapper">
      <div class="status-dot"
           [ngClass]="{
             'dot-blue': columnTitle === 'Pendiente',
             'dot-orange': columnTitle === 'En Progreso',
             'dot-green': columnTitle === 'Hecho'
           }"></div>
      <h3 class="column-title">{{ columnTitle }}</h3>
    </div>
    <span class="task-count">{{ tasks.length }}</span>
  </div>
  <div class="task-list"
       cdkDropList
       [id]="columnTitle"
       [cdkDropListData]="tasks"
       (cdkDropListDropped)="drop($event)">

    <app-task-card
      *ngFor="let task of tasks"
       [task]="task"
       cdkDrag
       [cdkDragData]="task"
       (click)="onTaskClick(task)"
       (statusChange)="onTaskStatusChange(task, $event)">
    </app-task-card>
  </div>

  <div class="add-btn-wrapper">
    <button class="btn-add-task" (click)="openCreateTaskModal()">
      + Añadir tarea
    </button>
  </div>
</div>

<app-task-create-modal
    [isVisible]="showCreateTaskModal"
    [projectId]="projectId"
    [status]="columnTitle"
    (closed)="showCreateTaskModal = false"
    (taskCreated)="onTaskCreated($event)">
</app-task-create-modal>
