<div *ngIf="isLoading" class="text-center">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Cargando proyecto...</span>
  </div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

<div *ngIf="project && !isLoading && !errorMessage">
  <h2>Proyecto: {{ project.name }}</h2>
  <p>{{ project.description || 'Sin descripción.' }}</p>

  <hr>

  <h4>Tablero de Tareas</h4>
  <div class="board-container d-flex flex-row gap-3"
      cdkDropListGroup>
      <app-board-column
      *ngFor="let column of boardColumns"
      [columnTitle]="column"
      [tasks]="getTasksForColumn(column)"
      (taskDropped)="onTaskDrop($event)"
      (taskClicked)="openTaskDetail($event)"> </app-board-column>
  </div>
  <app-task-detail-modal
      [isVisible]="isTaskModalVisible"
      [task]="selectedTask"
      (closed)="onTaskModalClose()"
      (taskUpdated)="onTaskUpdated($event)"
      (taskDeleted)="onTaskDeleted($event)">
  </app-task-detail-modal>

</div>
