
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* allow the content to grow vertically and enable scrolling */
  overflow-y: auto; /* allow vertical scrolling across pages */
}


h1 {
  text-align: center;
  color: navy;
}
